<!--
 * @Author: 尹鹏孝
 * @Date: 2021-08-25 21:50:17
 * @LastEditTime: 2021-08-25 21:51:03
 * @LastEditors: Please set LastEditors
 * @Description: 关注人
 * @FilePath: /nodejs/koa2-weibo-code/src/views/widgets/followers.ejs
-->
<div class="user-list right-item">
    <p class="title blod">
        <i class="fa fa-users"></i>
        关注（<%= count %>）
    </p>
    <div class="user-list clear-fix">
        <% userList.forEach(user=>{ %>

            <a href="/profile/<%= user.userName %>" class="user-name">
                <img src="<%= user.picture %>">
                <span>
                    <%= user.nickName%>
                </span>
            </a>
            <% }) %>
    </div>
</div>