<!--
 * @Author: your name
 * @Date: 2021-07-17 12:05:28
 * @LastEditTime: 2021-07-18 08:37:07
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /nodejs/koa2-weibo-code/src/views/footer.ejs
-->
<div>版权@2220</div>