<!--
 * @Author: your name
 * @Date: 2021-07-17 12:05:28
 * @LastEditTime: 2021-07-18 19:25:57
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /nodejs/koa2-weibo-code/src/views/footer.ejs
-->

<div class="layui-row" style="display: flex;
    justify-content: center;">
    <div class="layui-col-md4"> </div>

    <div class="layui-col-md4">

        <small>&copy; 2001-2021 <a href="/">微博</a></small>
    </div>
    <div class="layui-col-md4"> </div>

</div>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/layui/layui.js"></script>