<!--
 * @Author: your name
 * @Date: 2021-07-17 12:05:24
 * @LastEditTime: 2021-07-18 18:16:32
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /nodejs/koa2-weibo-code/src/views/layerout/header.ejs
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>微博<%= title %>
    </title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <!-- <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">微博</a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">首页</a></li>
                    <li><a href="/profile">我的空间</a></li>
                    <li>
                        <a href="/square">
                            广场
                        </a>
                    </li>
                    <li>
                        <a href="/setting">
                            设置
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->
    <ul class="layui-nav layui-bg-green">
        <li class="layui-nav-item"><a href="/">微博</a></li>
        <li class="layui-nav-item layui-this"><a href="/">首页</a></li>
        <li class="layui-nav-item"><a href="/profile">我的空间</a></li>
        <li class="layui-nav-item"><a href="/square">广场</a></li>
        <li class="layui-nav-item"><a href="/setting">设置</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">解决方案</a>
            <dl class="layui-nav-child">
                <dd><a href="">移动模块</a></dd>
                <dd><a href="">后台模版</a></dd>
                <dd><a href="">电商平台</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">社区</a></li>
    </ul>
</body>

</html>